# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Virtual Environments
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Docker
docker-compose.override.yml
.dockerignore
**/Dockerfile

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# VSCode
.vscode/

# Frontend build (in case you use any frontend bundler like webpack or similar in the future)
dist/

# Ignore system files
.DS_Store
Thumbs.db

# MongoDB data (if you are mounting volumes locally for persistence)
data/
